* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url('tx.jpeg'); /* Substitua pelo caminho da sua imagem de fundo */
  background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
  background-position: center; /* Centraliza a imagem */
  color: #e4d4d4; /* Cor do texto */
}

h1 {
  font-size: 3em;
  background: linear-gradient(to right, #d1360f, #88430f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Oswald', sans-serif;
  border-bottom: 4px solid #e67e22;
  padding-bottom: 10px;
}

p {
  font-size: 20px; /* Tamanho da fonte do parágrafo */
  font-style: oblique; /* Estilo oblíquo para um toque dinâmico */
  color: #f4efef; /* Cor do texto, uma cor mais suave que o título */
  line-height: 1.9; /* Aumenta o espaçamento entre as linhas para melhor legibilidade */
  margin-top: 20px; /* Espaço acima do parágrafo */
  margin-bottom: 20px; /* Espaço abaixo do parágrafo */
  font-family: 'Roboto', sans-serif; /* Fonte do parágrafo, garantindo uma boa legibilidade */
}

h2 {
  font-size: 2em;
  color: white;
  background-color: #cc782e; /* Cor de fundo */
  padding: 10px; /* Espaçamento interno */
  border-radius: 5px; /* Cantos arredondados */
  font-family: 'Oswald', sans-serif;
  text-align: center;   
}

p {
  font-size: 20px; /* Tamanho da fonte do parágrafo */
  font-style: oblique; /* Estilo oblíquo para um toque dinâmico */
  color: #f4efef; /* Cor do texto, uma cor mais suave que o título */
  line-height: 1.9; /* Aumenta o espaçamento entre as linhas para melhor legibilidade */
  margin-top: 20px; /* Espaço acima do parágrafo */
  margin-bottom: 20px; /* Espaço abaixo do parágrafo */
  font-family: 'Roboto', sans-serif; /* Fonte do parágrafo, garantindo uma boa legibilidade */
}




/* Estilo do wrapper */
#wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente para melhor legibilidade */
  border-radius: 10px;
}

/* Estilo do header */
#header {
  padding: 20px;
  text-align: center;
}

/* Estilos para os LEDs */
.led-status {
  list-style: none;
  padding: 0;
  display: flex; /* Usar flexbox */
  justify-content: center; /* Centraliza os LEDs */
}

.led-status li {
  display: flex;
  align-items: center;
  margin: 0 20px; /* Espaço entre os LEDs */
}

.led {
  width: 60px; /* Aumenta a largura do LED */
  height: 60px; /* Aumenta a altura do LED */
  border-radius: 50%; /* Mantém a forma redonda */
}

.led.red {
  background-color: red;
}

.led.green {
  background-color: green;
}

.led.yellow {
  background-color: yellow;
}

/* Estilo do footer */
#footer {
  text-align: center;
  margin-top: 10px;
}

/* Estilo dos links */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
